body {
    background-color: #212121;
    color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #1DE9B6;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.nav {
    margin-right: 1vw;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1vw;
}
