body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #FAFAFA;
    background-color: #212121;
}

button {
    padding: 10px 20px;
    font-family: inherit;
    font-size: 1em;
    letter-spacing: inherit;
    border: none;
    transition-duration: 0.2s;
}

a {
    color: inherit;
    text-decoration: none;
    transition-duration: 0.2s;
}

a:hover {
    color: #1DE9B6;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    align-items: center;
    justify-content: center;
}

input {
    width: 50%;
    padding: 10px 20px;
    font-size: 1em;
    color: #FAFAFA;
    letter-spacing: inherit;
    background-color: #424242;
    border: 2px solid transparent;
    border-radius: 20px;
    outline: none;
    transition-duration: 0.2s;
}

input:hover, input:focus {
    border: 2px solid #00BFA5;
}

main > div > button {
    color: #FAFAFA;
    background-color: #424242;
}

main > div > button:hover {
    background-color: #616161;
}

footer {
    display: flex;
    justify-content: space-between;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    letter-spacing: 0.02em;
}

.nav {
    display: flex;
    column-gap: 1vw;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin-right: 1vw;
    list-style: none;
}

.footer-left {
    display: flex;
    column-gap: 3vmin;
    padding: 0;
    margin-left: 1vw;
    color: #00BFA5;
    list-style: none;
}

.footer-right {
    display: flex;
    column-gap: 3vmin;
    padding: 0;
    margin-right: 1vw;
    color: #00BFA5;
    list-style: none;
}

#signin {
    color: #212121;
    background-color: #00BFA5;
}

@media (max-width: 500px) {
    body {
        font-size: 0.8em;
    }

    footer {
        flex-direction: column;
    }

    .footer-left, .footer-right {
        justify-content: center;
    }
}
