body {
    background-color: #212121;
    color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    font-family: inherit;
    font-size: 1em;
    padding: 10px 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #1DE9B6;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4vh;
}

input {
    background-color: #424242;
    color: #FAFAFA;
    width: 50%;
    border: 2px solid transparent;
    border-radius: 20px;
    outline: none;
    font-size: 1em;
    padding: 10px 20px;
}

main > div > button {
    background-color: #424242;
    color: #FAFAFA;
}

main > div > button:hover {
    background-color: #616161;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.nav {
    margin-right: 1vw;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1vw;
}
